<h3>Host sign-in </h3>
<div class="login-errors">
  <% if flash[:error] %>
  <%= flash[:error] %>
  <% end %>
</div>


<%= form_for (@host), :url => { :controller => "sessions", :action => "create" }  do |f| %>
<div class='host-email-signin'>
  <%= f.label :email %>:
</div>
  <%= f.text_field :email %><br>
<div class='host-password-signin'>
  <%= f.label :password %>:
</div>
  <%= f.password_field :password %><br>
  <%= f.submit 'Sign In'%>
<%end%>

<p>Don't have an account <%= link_to 'Sign-Up', new_host_path %>.</p>
