<h3>New Host</h3>
<%= form_tag ('/hosts') do  %>
<%= label_tag :name %>:
<%= text_field_tag :name %><br>
<%= render 'signup_signin_form'%>
<%= label_tag :password_confirmation, 'Confirm Password' %>:
<%= password_field_tag :password_confirmation %><br>
<%= submit_tag 'Create Host' %>
<% end %>
