
<h3>Host sign-in </h3>


<%=form_tag do%>
<%= label_tag :email %>:
<%= text_field_tag :email %><br>
<%= label_tag :password %>:
<%= password_field_tag :password %><br>
<%=submit_tag 'Sign In'%>
<%end%>

<p>Not a host? Go to the <%= link_to 'guest', guests_signin_path %> sign-in page.</p>
