
<%= form_for [@host,@event] do |f| %>
<% if @event.id %>
<p>Here you can edit or <%= link_to 'Delete', host_event_path(@host,@event),  method: :delete , confirm: "Really?"%> this event.</p>

<% end %>
<%= f.hidden_field :host_id, value: @host.id%>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>
<%= f.label :date %>
<%= f.datetime_field :date %><br>
Select a venue or create a new one.
<%= f.collection_select :venue, Venue.all, :id, :name %><br>
<%= f.fields_for :venue, event.build_venue do |venue_fields|  %>
<%= venue_fields.text_field :name %>
<%= venue_fields.text_field :location%>
<% end %>

<%= f.submit %><br>
<% end %>
