<!DOCTYPE html>
<html>
  <head>
    <title>Event Organizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <nav><%= link_to 'All Your Events', host_events_path(@host)%><%= link_to 'Create Event', new_host_event_path(@host)%> <%= link_to 'See all venues', venues_path%><%= link_to 'See Most Popular Venues', venues_most_popular_path%><%= link_to 'Edit Profile', edit_host_path(@host) %> <a href="../../signout"> Sign Out </a>  </nav>
    <%= yield %>
  </body>
</html>
